.header--work {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2rem;
}

.work__intro {
	grid-row-end: span 2;

	& > p {
		font-size: 1.8rem;
		font-weight: 300;
		color: #4d4b4b;
	}
}

.work__link {
	align-self: end;

	& > a {
		position: relative;
		display: inline-block;
		padding-bottom: 0.8rem;
		text-decoration: none;
	}

	& > a::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0.4rem;
		background-color: #01cf97;
	}
}

.work__arrow > g > g {
	stroke: #01cf97;
}

.work__list {
	display: grid;
	grid-template-columns: 7rem auto;
	font-size: 1.4rem;
}

.scope__item {
	display: inline-block;

	&:not(:last-of-type)::after {
		content: ",";
		padding-right: 0.4em;
	}
}

.content {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p,
	& ul {
		margin-left: auto;
		margin-right: auto;
		padding-left: 10.8rem;
		padding-right: 10.8rem;
		width: 100%;
		max-width: 91.6rem;
	}
}
