.work-content {

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p,
	& ul {
		margin-left: auto;
		margin-right: auto;
		padding-left: 10.8rem;
		padding-right: 10.8rem;
		width: 100%;
		max-width: 91.6rem;
	}

	& h2 {
		margin-top: 12.4rem;
	}

	& h3 {
		margin-top: 0.8rem;
		font-family: 'Coranto 2', serif;
		font-style: italic;
		font-size: 1.9rem;
		color: #01cf97;
	}

	& p {
		margin-top: 2.8rem;
		font-weight: 300;
		line-height: 1.6;
	}
}

.header--work {
	display: grid;
	grid-template-columns: 2.5fr 1.5fr;
	grid-gap: 4rem;
}

.work__header-titles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	& > *:first-child {
		width: 100%;
	}
}

.work__title {
	font-size: 6rem;
}

.work__intro {
	padding: 8.8rem 17.2rem;
	font-family: 'Coranto 2', serif;
	text-align: center;
	background-color: #ffffff;

	& p {
		font-size: 2.1rem;
		font-weight: 300;
		line-height: 1.6;
	}
}

.work__link {
	align-self: flex-end;

	& > a {
		position: relative;
		display: inline-block;
		padding-bottom: 0.8rem;
		text-decoration: none;
	}

	& > a::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0.4rem;
		background-color: #01cf97;
	}
}

.work__arrow > g > g {
	stroke: #01cf97;
}

.work__list {
	font-size: 1.4rem;
	font-weight: 300;
}

.scope__list {
	margin-left: 4.6rem;
}

.scope__list > li,
.scope__item {
	display: inline-block;

	&:not(:last-of-type)::after {
		content: ",";
		padding-right: 0.4em;
	}
}

.content {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p,
	& ul {
		margin-left: auto;
		margin-right: auto;
		padding-left: 10.8rem;
		padding-right: 10.8rem;
		width: 100%;
		max-width: 91.6rem;
	}
}
