.user-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

ul.user-links {
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	list-style: none;

	& > li:not(:first-of-type) {
		margin-left: 3rem;
	}

	& * {
		color: inherit;
	}
}
