.header {
	position: fixed;
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding: 4rem;

	@media only screen and (min-width: 842px) {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

.entered .header__link,
.exited .header__link,
.exiting .header__link {
	transform: translateY(0);
	opacity: 1;
}

.header__link {
	transform: translateY(-25%);
	opacity: 0;
	transition: all 600ms ease;
	will-change: transform, opacity;
	& + .header__link {
		transition-delay: 200ms;
	}
	& + .header__link + .header__link {
		transition-delay: 400ms;
	}
}