.footer {
    padding: 6rem;
    text-align: center;
    &__credit {
        margin-top: 1rem;
        font-size: 1.7rem;
        font-weight: 700;
    }
    &__selline {
        font-size: 1.3rem;
    }
    &__selline > span {
        opacity: 0.6;
    }
}
