@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

:root {
	/* Golden Rule */
	--baseHtmlSize: 62.5%;
	--baseBodySize: 1.6rem;

	/* Typeography */
	--brandFont: 'Soleil', sans-serif;
	--supportFont: 'Coranto 2', serif;
	--uiFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	/* Color Pallete */
	--brandColor: #00dea1;
	--brandBlack: #111310;
}

/* stylelint-disable */

/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: 700;
}

/* stylelint-enable */

/*
 *
 * Custom Styles
 *
 */

* {
	box-sizing: border-box;
	font-feature-settings: "kern", "liga", "clig", "calt";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html {
	font-family: var(--brandFont);
	font-size: var(--baseHtmlSize);
}

body {
	position: relative;
	font-family: var(--brandFont);
	font-size: var(--baseBodySize);
	line-height: 1.4;
	background-color: var(--brandColor);
}

h1 {
	font-weight: 800;
	font-size: 4.3rem;
	line-height: 1.2;
}

h2 {
	font-size: 3.7rem;
	font-weight: 800;
	line-height: 1.2;
}

p:not(:last-of-type) {
	margin-bottom: 2rem;
}

a {
	color: inherit;
}

main {
	position: relative; /* So content is selectable over fixed animated shapes */
}

/*
 *
 * App Styles
 *
 */

.pointer {
	position: fixed;
	top: -1.5rem;
	left: -1.5rem;
	z-index: 9999;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	border: 0.2rem solid #000000;
	opacity: 0.8;
	filter: saturate(2);
	will-change: transform;
	pointer-events: none;
}

/*
 *
 * Block positioning
 *
 */

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10.8rem;
	padding-right: 10.8rem;
	width: 100%;
	max-width: calc(70rem + (10.8rem * 2));
}

.container--wide {
	max-width: 100%;
	padding-left: 4rem;
	padding-right: 4rem;
}

.container--narrow {
	max-width: 66rem;
}

.block {
	margin-top: 40px;
	margin-bottom: 40px;
}

.center {
	text-align: center;
}

.full-height {
	height: 100vh;
}

.grid-banner {
	position: relative;
	display: grid;
	align-items: center;
}

.gutter-top {
	margin-top: 6.8rem;

	&--medium {
		margin-top: 3.8rem;
	}
}

.padder--vertical {
	padding-top: 6.8rem;
	padding-bottom: 6.8rem;
}

.status {
	position: absolute;
	bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding: 6rem;

	&__r {
		text-align: right;
	}
}

.label {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	opacity: 0.6;

	&--large {
		font-size: 1.2rem;
		opacity: 1;
	}
}

.shape {
	position: fixed;
	opacity: 0.1;
	will-change: transform;

	&--left {
		left: 20%;
		top: -15%;
	}

	&--right {
		right: -10%;
		top: 33%;
	}
}

.index .shape {
	mix-blend-mode: lighten;
}

.work .shape {
	mix-blend-mode: normal;
}

.about .shape {
	opacity: 0.3;
	mix-blend-mode: overlay;
}

/*
 *
 * Lists
 *
 */

.list__title {
	position: relative;
	display: block;
	margin-left: 4.6rem;
	margin-bottom: 1.6rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -4.6rem;
		bottom: 0;
		display: block;
		width: 3rem;
		height: 0.1rem;
		margin-top: auto;
		margin-bottom: auto;
		background-color: #00dea1;
	}
}

/*
 *
 * Editorial
 *
 */

.feature-title {
	font-size: 6rem;
	font-weight: 800;
}

.title {
	& + * {
		margin-top: 2.3rem;
	}
}

.p--large {
	font-size: 3rem;
	font-weight: 200;
}

.header-offset {
	padding-top: 20vh;
}

.content {
	& h2 {
		margin-top: 8.6rem;
		font-weight: 700;
	}

	& p {
		font-size: 1.8rem;
	}

	& h2 + p:first-of-type {
		margin-top: 1.6rem;
	}
}

.banner {
	& p {
		font-size: 2.1rem;
	}

	& p:first-of-type {
		margin-top: 3.6rem;
	}
}

.contact-panel {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	margin: 2rem;
	height: calc(100% - 4rem);
	width: 25%;
	background-color: #000000;
	color: white;
	overflow: hidden;
	transform: translateX(-110%);
	transition: all 400ms ease;

	&.is-active {
		transform: translateX(0%);
		width: calc(100% - 4rem);
	}
}

.contact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-flex {
	display: flex;
	flex-wrap: wrap;
}

.contact-link-wrapper {
	text-align: right;
}

.contact-link {
	display: inline-block;
	padding-bottom: 1rem;
	font-size: 2.1rem;
	font-weight: 600;
	text-decoration: none;
	text-align: right;
	box-shadow: 0 0.1rem #00dea1;
}

.contact-social {
	align-self: flex-end;
}

.overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--brandColor);
	opacity: 0;
	transition: opacity 300ms ease;
	will-change: opacity;

	&.is-active {
		z-index: 0;
		opacity: 0.25;
	}
}

/*
 *
 * Animations
 *
 */

.animate-in {
	overflow: hidden;

	& > * {
		display: inline-block;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 0.4s ease;
	}
}

.fade-in {
	& > * {
		transform: scale3d(0.8, 0.8, 0.8) translateX(65%);
		opacity: 0;
		transition: all 0.4s ease;
	}
}

.enter--left {
	overflow: hidden;

	& > * {
		transform: translateX(-100%);
		opacity: 0;
		transition: all 0.6s ease;
	}
}

.is-active {
	& .animate-in > * {
		transform: translateY(0%);
		opacity: 1;
	}

	& .fade-in > * {
		transform: scale3d(1, 1, 1) translateX(0%);
		opacity: 1;
	}

	& .enter--left > * {
		transform: translateX(0%);
		opacity: 1;
	}
}

.wipe--entering {
	/* animation-name: wipeEnter;
	animation-duration: 0.4s; */
}

.wipe--exiting {
	/* animation-name: wipeExit;
	animation-duration: 0.4s; */
}

@keyframes wipeEnter {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes wipeExit {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

.anim-title {
	position: relative;
	display: block;
	overflow: hidden;
	opacity: 0;
	transform: translateY(15%);
	transition: all 400ms ease;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: var(--brandColor);
		transform: translateY(0%);
		transition: all 600ms ease;
	}
}

.wipe--entered {
	& .anim-title {
		opacity: 1;
		transform: translateY(0%);

		&::before {
			height: 0%;
			transform: translateY(100%);
		}
	}
}

.delay-100 { transition-delay: 100ms; }
.delay-200 { transition-delay: 200ms; }
.delay-300 { transition-delay: 300ms; }
.delay-400 { transition-delay: 400ms; }
.delay-500 { transition-delay: 500ms; }
.delay-600 { transition-delay: 600ms; }
.delay-700 { transition-delay: 700ms; }
.delay-800 { transition-delay: 800ms; }
.delay-900 { transition-delay: 900ms; }
.delay-1000 { transition-delay: 1s; }

.dot {
	position: relative;
	bottom: 0.3rem;
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	border-radius: 0.8rem;
	background-color: #01cf97;
}

.pulse::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 0.6rem;
	animation-name: pulse;
	animation-duration: 1400ms;
	animation-iteration-count: infinite;
	will-change: opacity, background-color, transform;
}

@keyframes pulse {
	0% {
		opacity: 0;
		transform: scale3d(1, 1, 1);
		background-color: #0f241c;
	}

	50% {
		opacity: 1
	}

	85% {
		transform: scale3d(2.1, 2.1, 2.1);
		background-color: #69fcd4;
	}

	100% {
		opacity: 0;
	}
}

/*
 *
 * Loading screen
 *
 */

.wipe--exited .loader-logo,
.wipe--exiting .loader-logo,
.wipe--entering .loader-logo {
	z-index: 2;
}

.wipe--entering .loader-logo svg {
	transform: translateY(-70vh);
	opacity: 1;
}

.wipe--entered .loader-logo svg {
	transform: translateY(70vh);
	opacity: 1;
}

.wipe--exiting .loader-logo svg {
	transform: translateY(0);
	opacity: 1;
}

.wipe--exited .loader-logo svg {
	transform: translateY(0);
	opacity: 1;
}

.loader-logo  {
	position: fixed;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	& svg {
		position: absolute;
		z-index: 3;
		transform: translateY(100%);
		transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-delay: 100ms;
		will-change: opacity, transform;
	}
}

.anim {
	position: fixed;
	width: 100vw;
	pointer-events: none;
	background-color: transparent;
	transition: all 300ms ease;
}

.anim--entering {
	z-index: 2;
	animation-name: fadeBackground;
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	& .layer1 {
		animation-name: animEnter;
		animation-duration: 800ms;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

.anim--exiting {
	z-index: 2;

	& .layer1 {
		animation-name: animExit;
		animation-duration: 800ms;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

.anim--exited {
	z-index: 2;
	background-color: #111310;
}

@keyframes animEnter {
	0% {
		background-color: var(--brandColor);
		height: 100vh;
		transform: translateY(100%);
	}

	50% {
		height: 100vh;
		transform: translateY(0);
	}

	100% {
		background-color: var(--brandColor);
		height: 100vh;
		transform: translateY(-100%);
	}
}

@keyframes animExit {
	0% {
		background-color: var(--brandBlack);
		height: 100vh;
		transform: translateY(100%);
	}

	50% {
		height: 400vh;
		transform: translateY(0);
	}

	100% {
		background-color: var(--brandBlack);
		height: 100vh;
		transform: translateY(0);
	}
}

@keyframes fadeBackground {
	0% {
		background-color: #111310;
	}

	50% {
		background-color: #111310;
	}

	100% {
		background-color: transparent;
	}
}

/*
 *
 * Visibility
 *
 */

.is-hidden {
	display: none;
	visibility: hidden;
}
