.entered .nav__link,
.exited .nav__link,
.exiting .nav__link {
	transform: translateX(0);
	opacity: 1;
}

.nav__link {
	position: fixed;
	z-index: 1;
	top: 0;
	height: 100%;
	width: 8rem;
	font-size: 1.4rem;

	opacity: 0;

	transition: all 600ms ease;
	transition-delay: 200ms;
	will-change: transform, opacity;

	&--l {
		left: 0;
		transform: translateX(-25%);

		& > .nav__line {
			left: 0;
		}

		& .nav__text,
		& .nav__reveal {
			right: 0;
			transform: scale(-1);
		}

		&:hover .nav__text {
			transform: translate3d(3rem, 0, 0) scale(-1); 
		}

		&:hover .nav__reveal {
			transform: translateX(1rem) scale(-1);
		}
	}

	&--r {
		right: 0;
		transform: translateX(25%);

		& > .nav__line {
			right: 0;
		}

		& .nav__text,
		& .nav__reveal {
			left: 0;
		}

		&:hover .nav__text {
			transform: translate3d(-3rem, 0, 0); 
		}

		&:hover .nav__reveal {
			transform: translateX(-1rem);
		}
	}

	& > a {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		padding: 1.6rem;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
		transform-origin: top center;
	}

	& .nav__text {
		position: absolute;
		top: 0;
		bottom: 0;
		display: block;
	    text-orientation: inherit;
	    writing-mode: vertical-lr;
		transition: transform 300ms ease;
		will-change: transform;
	}
}

.nav__line {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	height: 0.1rem;
	width: 4rem;
	margin: auto;
	background: #00dea1;
	transition: transform 300ms ease;
	will-change: transform;
}

.nav__reveal {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	font-size: 1.4rem;
	font-weight: 300;
	text-transform: none;
	letter-spacing: normal;
	writing-mode: vertical-lr;
	color: #00dea1;
	opacity: 0;
	transition: all 400ms ease;
}

.nav__link:hover {

	& .nav__reveal {
		opacity: 1;
		height: auto;
		visibility: visible;
	}

	& .nav__line {
		transform: scaleX(2);
	}
}
