.nav__link {
	position: fixed;
	z-index: 1;
	top: 50%;
	padding-top: 2.8rem;
	font-size: 1.4rem;
	transform-origin: top center;

	&--l {
		left: 0;
		transform: rotateZ(-90deg);
	}

	&--r {
		right: 0;
		transform: rotateZ(90deg);
	}

	& > a {
		display: block;
		padding: 1.6rem;
		text-decoration: none;
	}
}

.nav__line {
	position: absolute;
	height: 0.1rem;
	width: 100%;
	display: block;
	transform: rotateZ(90deg);
	background: #00dea1;
	margin-top: -4rem;
}
