.entered .nav__link,
.exited .nav__link,
.exiting .nav__link {
	transform: translateX(0);
	opacity: 1;
}

.nav__link {
	position: fixed;
	z-index: 1;
	bottom: 0;
	height: 6rem;
	width: 50%;
	font-size: 1.4rem;
	opacity: 0;
	transition: transform 600ms ease, opacity 600ms ease;
	transition-delay: 200ms;
	will-change: transform, opacity;

	@media only screen and (max-width: 841px) {
		background-color: #ffffff;
		box-shadow: 0 -1rem 10rem 0rem #efefef;
	}

	@media only screen and (min-width: 842px) {
		bottom: auto;
		top: 0;
		height: 100%;
		width: 8rem;
	}

	&--l {
		left: 0;

		& > .nav__line {
			left: 0;
		}

		@media only screen and (min-width: 842px) {
			transform: translateX(-25%);

			& .nav__text,
			& .nav__reveal {
				right: 0;
				transform: scale(-1);
			}

			&:hover .nav__text {
				transform: translate3d(3rem, 0, 0) scale(-1); 
			}

			&:hover .nav__reveal {
				transform: translateX(1rem) scale(-1);
			}
		}
	}

	&--r {
		right: 0;

		& > .nav__line {
			right: 0;
		}

		@media only screen and (min-width: 842px) {
			transform: translateX(25%);

			& .nav__text,
			& .nav__reveal {
				left: 0;
			}

			&:hover .nav__text {
				transform: translate3d(-3rem, 0, 0); 
			}

			&:hover .nav__reveal {
				transform: translateX(-1rem);
			}
		}
	}

	& > a {
		display: block;
		padding: 1.3rem;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;

		media only screen and (min-width: 842px) {
			position: absolute;
			height: 100%;
			width: 100%;
			padding: 1.6rem;
			transform-origin: top center;
		}
	}

	& .nav__text {
		display: block;
	    text-orientation: inherit;
		transition: transform 300ms ease;
		will-change: transform;

		@media only screen and (min-width: 842px) {
			position: absolute;
			top: 0;
			bottom: 0;
			writing-mode: vertical-lr;
		}
	}
}

.nav__line {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	height: 0.1rem;
	width: 4rem;
	margin: auto;
	background: #00dea1;
	transition: transform 300ms ease;
	will-change: transform;

	@media only screen and (min-width: 842px) {

	}
}

.nav__reveal {
	display: block;
	font-size: 1.4rem;
	font-weight: 300;
	text-transform: none;
	letter-spacing: normal;
	color: #00dea1;
	transition: opacity 400ms ease;

	@media only screen and (min-width: 842px) {
		position: absolute;
		top: 0;
		bottom: 0;
		writing-mode: vertical-lr;
		opacity: 0;
	}
}

.nav__link:hover {

	& .nav__reveal {
		opacity: 1;
		height: auto;
		visibility: visible;
	}

	& .nav__line {
		transform: scaleX(2);
	}
}
